<html>
     <head>
         <meta name="viewport" content="width=device-width,initial-scale=1.0">
         <title>REVIVE</title>
         
         <link rel="stylesheet" href="/complaint.css">
         <link rel="stylesheet" href="/nav.css">
         <script src="/navbar.js" defer></script>
         <script src="/savedata.js" defer></script>
         <script src="/topbtn.js" defer></script>
         <link rel="stylesheet" href="/footer.css">
          <link rel="preconnect" href="https://fonts.googleapis.com">
         <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <script src="https://kit.fontawesome.com/01780eab25.js" crossorigin="anonymous"></script>
         <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet"> 
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap">
         <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
         <script src="https://code.jquery.com/jquery-1.8.2.min.js"></script>
         
        </head>
     <body>
      
      <div id="myBtn3">
        <a  href="/" class="topbtn3" title="more"><i class="fa-solid fa-house"></i>  <p>Home</p></a> 
        <a href=""  class="Invoicebtn"  title="more"><p>COntact Us</p></a>
      </div>
       <section class="header" >
              <div class="container">
                <nav >
                      <a href="/" class="logo"><img src="/back3.png"></a>
                     
                      <ul id="sidemenu">
                        <li ><a style="background: whitesmoke;border-radius: 5px;padding: 5px;"  onclick="closemenu()" style="font-size: 13px;"><i class="fa-solid fa-xmark"></i></a></li>
  
                        <p>General</p>
                      <li><a href="/profile"><i class="fa-solid fa-user"></i> Profile</a></li>
                      <li><a href="/"><i class="fa-solid fa-bell"></i> Notification</a></li>
                      <li><a href="/"><i class="fa-solid fa-file-invoice"></i> Invoice </a></li>
                      <li><a href="/"><i class="fa-solid fa-file-invoice-dollar"></i> Receipt </a></li>
                      <li><a href="/"><i class="fa-solid fa-receipt"></i> Statement</a></li>
                      <li><a href="/"><i class="fa-solid fa-file-waveform"></i> Visits </a></li>
                      <li><a href="/"><i class="fa-brands fa-algolia"></i> Complaint </a></li>
                      <li><a href="//request"> <i class="fa-solid fa-truck-fast"></i> Request</a></li>
                      <li><a href="/logout" class="login"><i class="fa-solid fa-right-from-bracket"></i>LogOut</a></li>
                          
                      <p style="text-align: center;">Terms of Use | Privacy Policy</p>
                   </ul>
                 </nav>
      </section>
            <!--
            <div class="popup-onload">
                <div class="popup-inner">
                    <div class="popup-content">
                        <h2 id="timer"></h2>

                        <p> </p>
                        <span class="alert-description">
                            <ul class="alert-description">

                              <li> Read this message before using the sensor.</li>
                              <li> Press the delete icon to clear previous soil data. After that, you can use the sensor.</li>
                              <li> Do this each time before using the sensor. Click close to go back or wait for the timer.</li>
                            </ul>
                        </span>
                        <a href="/delete-data" class="delete"><i class="fa-solid fa-trash"></i></a>
                        <a href="" class="close">Close</a>
                    </div>
                </div>
            </div>
            -->
           
           <section class="contact">
            <h1>Collection Request</h1>
            
            <div class="contact-row">
                   <div class="contact-col ">
                   <form action="/savedata" method="POST" enctype="multipart/form-data">
                      
                            
                    <select class="selection-btn" id="selection-btn">
                        <option>Select Category</option>
                        <option value="Collection">Collection</option>
                        <option value="selling">Selling</option>
                    </select>
                    <input type="text" name="coordinates5" placeholder="comment"  required>
                            
                    <button type="submit" class="btn btn2">Submit</button>
                      
                   </form> 
                 </div>
            </div>
          </section>

   
   <script>
    // Get current date and time
    var now = new Date();
  
    // Extract date, time, and day
    var months = now.toLocaleDateString(undefined, { month: 'long', });
    var dateNumber = now.getDate();
    
    
  
   
  
    document.getElementById("dateNumber").innerHTML = dateNumber +" "+ months;
    var date = dateNumber + " " + months;
   document.querySelector("input[name='date']").value = date;
/*
   remtime = 90;
   const timer = document.getElementById('timer');
   const interval = setInterval(() =>{
    timer.textContent = `${remtime}`;

    if(remtime<=0){
        clearInterval(interval);
        timer.textContent="There you go!";
    }
    remtime--;
   },1000);

   $(function(){
    
    const overlay=$('<div id="overlay"></div>');
    overlay.show();
    overlay.appendTo(document.body);
    $('.popup-onload').show();
    $('.close').click(function(){
        $('.popup-onload').hide();
        overlay.appendTo(document.body).remove();
        return false;
    });
    
   
    $('.x').click(function(){
        $('.popup').hide();
        overlay.appendTo(document.body).remove();
        return false;

    });
    

   });*/
    
  </script>
  <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDn4lHzl_n5h7vQOz1jthHgTw-geOT5LIA&callback=initMap&v=weekly"
  defer
></script>

              
         </body>
</html>