<html>
     <head>
      
         
         <meta name="viewport" content="width=device-width,initial-scale=1.0">
         <title>TELINSO</title>
         
         <link rel="stylesheet" href="/invoice.css">
         <link rel="stylesheet" href="/nav.css">
         <script src="/navbar.js" defer></script>
         <link rel="stylesheet" href="/footer.css">
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <script src="https://kit.fontawesome.com/01780eab25.js" crossorigin="anonymous"></script>
         <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet"> 
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        
         
        </head>
     <body>
      
         <div id="myBtn3">
          <a  href="/" class="topbtn3" title="more"><i class="fa-solid fa-house"></i>  <p>Home</p></a> 
          
            <a href=""  class="Invoicebtn"  title="more"><p>Download Receipt</p></a>
        </div>
     <section class="header" >
            <div class="container">
              <nav >
                    <a href="/" class="logo"><img src="/back3.png"></a>
                   
                    <ul id="sidemenu">
                      <li ><a style="background: whitesmoke;border-radius: 5px;padding: 5px;"  onclick="closemenu()" style="font-size: 13px;"><i class="fa-solid fa-xmark"></i></a></li>

                      <p>General</p>
                    <li><a href="/profile"><i class="fa-solid fa-user"></i> Profile</a></li>
                    <li><a href="/"><i class="fa-solid fa-bell"></i> Notification</a></li>
                    <li><a href="/"><i class="fa-solid fa-file-invoice"></i> Invoice </a></li>
                    <li><a href="/"><i class="fa-solid fa-file-invoice-dollar"></i> Receipt </a></li>
                    <li><a href="/"><i class="fa-solid fa-receipt"></i> Statement</a></li>
                    <li><a href="/"><i class="fa-solid fa-file-waveform"></i> Visits </a></li>
                    <li><a href="/"><i class="fa-brands fa-algolia"></i> Complaint </a></li>
                    <li><a href="//request"> <i class="fa-solid fa-truck-fast"></i> Request</a></li>
                    <li><a href="/logout" class="login"><i class="fa-solid fa-right-from-bracket"></i>LogOut</a></li>
                        
                    <p style="text-align: center;">Terms of Use | Privacy Policy</p>
                 </ul>
               </nav>
    </section>
        
           <section class="contact">
            <h1>Visit Log </h1>
          
     
            <div class="contact-row" >
              <div class="Date-time">
                <div class="visit">
                    <div class="visit-schedule">
                      <a><i class="fa-solid fa-calendar-days"></i> 16-09-2023</a>
                      <h6>$ 0</h6>
                    </div> 
                    <p>Collected by:</p>
                    <p>Visit Status:</p>
                    <p><a onclick="Showmore('visit-table1')" class="down"><i style="padding-right: 5px;" class="fa-solid fa-circle-arrow-down"></i>more</a></p>
                    <table id="visit-table1"  style="display: none;">
                      <thead>
                          <tr>
                              <th>Item</th>
                              <th>Weight</th>
                              <th>Bags</th>
                              <th>Amount</th>
                          
                          </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Thermocol</td>
                          <td>0.3</td>
                          <td>1</td>
                          <td>$ 0</td>
                        </tr>
                        <tr>
                         <td>Glass</td>
                         <td>15.0</td>
                         <td>1</td>
                         <td>$ 0</td>
                       </tr>
                       <tr>
                         <td>Total</td>
                         <td>15.3Kg</td>
                         <td>2 Bags</td>
                         <td>$ 0</td>
                       </tr>
                       
                      </tbody>
                  </table>
                </div>
                </div>
             </div>
             <div class="contact-row" >
              <div class="Date-time">
                <div class="visit">
                    <div class="visit-schedule">
                      <a><i class="fa-solid fa-calendar-days"></i> 16-09-2023</a>
                      <h6>$ 0</h6>
                    </div> 
                    <p>Collected by:</p>
                    <p>Visit Status:</p>
                    <p><a onclick="Showmore('visit-table2')" class="down"><i style="padding-right: 5px;" class="fa-solid fa-circle-arrow-down"></i>more</a></p>
                    <table id="visit-table2"  style="display: none;">
                      <thead>
                          <tr>
                              <th>Item</th>
                              <th>Weight</th>
                              <th>Bags</th>
                              <th>Amount</th>
                          
                          </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Thermocol</td>
                          <td>0.3</td>
                          <td>1</td>
                          <td>$ 0</td>
                        </tr>
                        <tr>
                         <td>Glass</td>
                         <td>15.0</td>
                         <td>1</td>
                         <td>$ 0</td>
                       </tr>
                       <tr>
                         <td>Total</td>
                         <td>15.3Kg</td>
                         <td>2 Bags</td>
                         <td>$ 0</td>
                       </tr>
                       
                      </tbody>
                  </table>
                </div>
                </div>
             </div>
              
            
            
   </section>

   
   
  <script>
    function Showmore(id){

      const showdata = document.getElementById(id);
      if (showdata.style.display === 'none') {
        showdata.style.display = 'table';
        
        
      } else {
        showdata.style.display = 'none';
        
      }
    }
   
   </script>


         </body>
</html>